/*styles go here*/

p {
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}

h2 {
  font-family: 'Manjari', sans-serif;
  text-align: center;
}

body {
background-color: #ffb6c1;
text-align: center;
}

}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  border-bottom: 1px solid #fff;
}

#nav a:link {
  display: block;
  color: #fff;
  background-color: #e75480;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, serif;
  padding: 4px;
}

#nav a:hover, #nav a:visited {
  background-color: #e0115f;
}

img {
  border: none;


}

#nav{
  display:flex;
  flex-direction:column;
}

@media screen and (max-width: 599px) {
	#nav {
		flex-direction: row;
		justify-content: space-around;
    text-align:center;
	}
}

.cards{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:(2, 100px);
  grid-gap: 20px;
  grid-template-areas:
  "a b"
  "c d";
}

.cards li {
  background-color: #e0115f;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
}

.card1{
  grid-area:a;
}

.card2{
  grid-area:b;
}

.card3{
  grid-area:c;
}

.card4{
  grid-area:d;
}

}

nav3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content:center;
  grid-template-areas:
  "a b"
  "c d";
}

.nav3{
  display: grid;
  grid-template-areas:
  "a b"
  "c d";
}

.Twitter{grid-area:a;
}

.Instagram{grid-area:b;
}

.Facebook{grid-area:c;
}

.OtherThings{grid-area:d;
}

footer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "a b"
  "c d";
  justify-content: center;
