/*styles go here*/

p {
  font-family: Helvetica, arial, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
}

body {
background-color: #ffb6c1;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  border-bottom: 1 px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #e75480;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, serif;
  padding: 4px;
}
