/*styles go here*/

p {
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}

h2 {
  font-family: 'Manjari', sans-serif;
  text-align: center;
}

body {
background-color: #ffb6c1;
text-align: center;
}


nav ul {
  display: flex;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  border-bottom: 1px solid #fff;
}

#nav a:link {
  display: block;
  color: #fff;
  background-color: #e75480;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, serif;
  padding: 4px;
}

#nav a:hover, #nav a:visited {
  background-color: #e0115f;
}

img {
  border: none;


}

.container {
	display: flex;
}


@media (min-width:599px) {
	.container{
		flex-direction:row;
		justify-content: center;
		}
}

@media (min-width:799px){
		.item-1{
			margin-right:auto;
		}
}
